{% extends 'header.html' %}

{% block content %}

<style>

    .save-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .save-button {
        width: 80%; /* Adjust the width as needed */
        max-width: 400px; /* Optional: Set a maximum width */
        background-color: #e8e8e8;
        -webkit-text-fill-color: black;
        margin-top: 10px; /* Add margin between buttons */
    }

    .bouton-rose {
        background-color: #e91e63; /* Couleur de fond rose */
        color: white; /* Couleur du texte blanche */
        border: none; /* Supprimer les bordures */
        width: 100px;
        height: 100px;
        font-size: 16px; /* Taille de la police */
    }

    .icone-blanc {
        color: white; /* Couleur de l'icône blanche */
        margin-right: 5px; /* Espacement à droite de l'icône */
    }

    .custom-dialog {
            width: 60%; /* Ajustez la largeur comme vous le souhaitez */
        }

    .mdl-dialog__title {
        float: left;
    }

    .mdl-dialog__content {
        float: center;
    }

    .icon-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .mediumInputPane {
        width: 100%; /* Prend tout l'espace disponible horizontalement */
        height: 10vh; /* Ajuste la hauteur à 80% de la hauteur de la fenêtre */
        resize: none; /* Empêche le redimensionnement du textarea par l'utilisateur */
    }

    .largeInputPane {
        width: 100%; /* Prend tout l'espace disponible horizontalement */
        height: 40vh; /* Ajuste la hauteur à 80% de la hauteur de la fenêtre */
        resize: none; /* Empêche le redimensionnement du textarea par l'utilisateur */
    }

</style>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
                <h2>Création d'une évaluation</h2>
                <!-- Simple Textfield -->
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield custom-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample1">
                        <label class="mdl-textfield__label" for="sample1" style="font-size: 20px;">Titre de l'évaluation</label>
                    </div>
                </form>

                <!-- Ajouter une nouvelle question -->
                <button type="button" class="mdl-button show-modal">
                    <span>Ajouter une nouvelle question</span>
                </button>


                <dialog class="mdl-dialog custom-dialog">
                    <div class="mdl-dialog__content">
                        <h4 class="mdl-dialog__title">Énoncé de l'exercice</h4>
                        <!-- Zone de saisie pour les hints -->
                        <textarea id="markdown" class="inputPane mediumInputPane"></textarea>
                    </div>

                    <div class="icon-container">
                        <!-- FAB button with ripple -->
                        <button id="startRecording" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                            <i class="material-icons">microphone</i>
                        </button>
                        <button id="stopRecording" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" disabled>
                            <i class="material-icons">stop</i>
                        </button>
                        <audio id="audioPlayer" controls></audio>

                        <button id="downloadAudio" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" disabled>
                            <i class="material-icons">add</i>
                        </button>

                        <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const startRecordingButton = document.getElementById('startRecording');
                                const stopRecordingButton = document.getElementById('stopRecording');
                                const audioPlayer = document.getElementById('audioPlayer');
                                const downloadAudioButton = document.getElementById('downloadAudio');
                                let mediaRecorder;
                                let audioChunks = [];
                    
                                startRecordingButton.addEventListener('click', startRecording);
                                stopRecordingButton.addEventListener('click', stopRecording);
                    
                                async function startRecording() {
                                    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                                    mediaRecorder = new MediaRecorder(stream);
                    
                                    mediaRecorder.ondataavailable = function (event) {
                                        if (event.data.size > 0) {
                                            audioChunks.push(event.data);
                                        }
                                    };
                    
                                    mediaRecorder.onstop = function () {
                                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                                        const audioUrl = URL.createObjectURL(audioBlob);
                                        audioPlayer.src = audioUrl;
                                        audioPlayer.controls = true;
                                        audioPlayer.play();
                                    };
                    
                                    startRecordingButton.disabled = true;
                                    stopRecordingButton.disabled = false;
                    
                                    mediaRecorder.start();
                                }
                    
                                function stopRecording() {
                                    mediaRecorder.stop();
                                    startRecordingButton.disabled = false;
                                    stopRecordingButton.disabled = true;
                                    downloadAudioButton.disabled = false;
            
                                    // Envoie les données audio au serveur Flask
                                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                                    const formData = new FormData();
                                    formData.append('audio', audioBlob, 'enregistrement_audio.wav');
            
                                    fetch('/upload', {
                                        method: 'POST',
                                        body: formData,
                                    })
                                    .then(response => response.text())
                                    .then(message => console.log(message))
                                    .catch(error => console.error(error));

                                    
                                }               
                            });
                        </script>
                    </div>

                    <div class="mdl-dialog__content">
                        <div class="mdl-dialog__content">
                            <h4 class="mdl-dialog__title">Réponse finale</h4>
                            <!-- Zone de saisie pour les hints -->
                            <textarea id="markdown" class="inputPane mediumInputPane"></textarea>
                        </div>
                    </div>

                    <div class="custom-dialog">
                        <h4 class="mdl-dialog__title">Indices</h4>
                    </div>

                    <div class="mdl-dialog__content">
                        <!-- Zone de saisie pour les hints -->
                        <textarea id="markdown" class="inputPane largeInputPane"></textarea>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
                    <script>
                        document.getElementById('content').innerHTML =
                          marked.parse('# Marked in the browser\n\nRendered by **marked**.');
                      </script>
                    
                        <!-- Actions de la boîte de dialogue -->
                        <div class="mdl-dialog__actions">
                            <!-- Bouton pour ajouter l'exercice -->
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored show-modal">Ajouter l'exercice</button>
                            <!-- Bouton pour annuler -->
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised close">Annuler</button>
                        </div>
                    </div>
                    
                </dialog>

                <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
                <script>
                    var dialog = document.querySelector('dialog');
                    var showModalButton = document.querySelector('.show-modal');
                    if (!dialog.showModal) {
                        dialogPolyfill.registerDialog(dialog);
                    }
                    showModalButton.addEventListener('click', function () {
                        dialog.showModal();
                    });
                    dialog.querySelector('.close').addEventListener('click', function () {
                        dialog.close();
                    });
                </script>

                <br>
                <br>
                <!-- Créer l'évaluation -->
                <button class="save-button mdl-button mdl-js-button mdl-button mdl-js-ripple-effect mdl-button--accent">
                    Créer l'évaluation
                </button>
        </div>
    </div>

{% endblock %}
