{% extends 'mdl.html' %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="query">
            <label class="mdl-textfield__label" for="query">Entrez votre code</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Entrer
        </button>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>

{% endblock %}