<!doctype html>
<head>
    <title>Revaluv</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-yellow.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Revaluv</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/">
                    <i class="material-icons">home</i>
                </a>
                {% if current_user.is_authenticated %}
                    {% if current_user.role == "admin" %}
                        <a class="mdl-navigation__link" href="/admin">Gestion</a>
                    {% endif %}
                    <span class="mdl-chip mdl-chip--deletable">
                        <span class="mdl-chip__text">{{current_user.email}}</span>
                        <a href="/profile" class="mdl-chip__action"><i class="material-icons">manage_accounts</i></a>
                        <a href="/logout" class="mdl-chip__action"><i class="material-icons">logout</i></a>
                    </span>
                {% else %}
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">Login</span>
                        <a class="mdl-chip__action" href="/login"><i class="material-icons">login</i></a>
                    </span>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Revaluv</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">
                <i class="material-icons">home</i>
            </a>
            {% if current_user.is_authenticated %}
                {% if current_user.role == "admin" %}
                    <a class="mdl-navigation__link" href="/admin">Gestion</a>
                {% endif %}
                <span class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text">{{current_user.email}}</span>
                    <a href="/profile" class="mdl-chip__action"><i class="material-icons">manage_accounts</i></a>
                    <a href="/logout" class="mdl-chip__action"><i class="material-icons">logout</i></a>
                </span>
            {% else %}
                <a class="mdl-navigation__link" href="/login">Connexion</a>
            {% endif %}
        </nav>
    </div>

    {% block content %}
    <br><br>
    {% endblock %}