{% extends 'header.html' %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
        <h2>Liste des Élèves</h2>
        <div class="demo-list-action mdl-list">
            {% for student in students %}
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>{{ student.firstname }} {{ student.name }}</span>
                    </span>
                    {% for tag in student.tag %}
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-chip">
                            <span class="mdl-chip__text">{{ tag.name }}</span>
                        </span>
                    </span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>


{% endblock %}