{% extends 'header.html' %}

{% block content %}

<!-- List items with avatar and action -->
<style>
    .demo-list-action {
        width: 300px;
    }
    .top-right {
            position: fixed;
            top: 112px;
            right: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    }
    .bottom-right {
            position: fixed;
            bottom: 32px;
            right: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    }
    .bouton-rose {
        background-color: #e91e63; /* Couleur de fond rose */
        color: white; /* Couleur du texte blanche */
        border: none; /* Supprimer les bordures */
        width: 100px;
        height: 100px;
        font-size: 16px; /* Taille de la police */
    }

    .icone-blanc {
        color: white; /* Couleur de l'icône blanche */
        margin-right: 5px; /* Espacement à droite de l'icône */
    }
</style>

<script>
    function copyToClipboard(text)
    {
        navigator.clipboard.writeText(text).then(function() {
            alert("You got the test code: " + text);
        }, function(err) {
            alert("Could not copy test code: " + err + ".");
        });
    }
</script>
  

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
            <div class="demo-list-action mdl-list">
                {% for evaluation in evaluations %}
                    <div class="mdl-list__item mdl-shadow--2dp">
                        <span class="mdl-list__item-primary-content">
                        <span>{{ evaluation.name }}</span>
                        </span>
                        <a class="mdl-list__item" href="#" onclick="copyToClipboard('{{ evaluation.code }}')">
                            <i class="material-icons">content_copy</i>
                        </a>
                        <span style="margin-right: 10px;"></span>
                        <a class="mdl-list__item" href="/modifyTest/{{ evaluation.id }}">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                    <span style="margin-right: 10px;"></span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Conteneur des boutons en haut et en bas à droite -->
<div class="top-right">
    <!-- Bouton en haut à droite -->
    <a class="bouton-rose mdl-button--fab mdl-js-ripple-effect" href={{ url_for('studentListing') }}>
        <i class="icone-blanc fas fa-icone material-icons">recent_actors</i>
    </a>
</div>

<!-- Espace entre les boutons -->
<div style="height: 16px;"></div>

<div class="bottom-right">
    <!-- Bouton en bas à droite -->
    <a class="bouton-rose mdl-button--fab mdl-js-ripple-effect" href="/createTest">
        <i class="icone-blanc fas fa-icone material-icons">add</i>
    </a>
</div>

{% endblock %}